# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep= '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep= '\t')

### Step 4. How many products cost more than $10.00?

### [   ] ¿está bien???????

In [6]:
df.item_price=df.item_price.replace('\$', '', regex=True)

In [15]:
df.item_price.dtype

dtype('O')

In [16]:
df.item_price= df.item_price.astype(float)

In [17]:
df.item_price.dtype

dtype('float64')

In [18]:
df[df.item_price>10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### [   ] ¿cómo la haría?????????????

In [74]:
dfsel=df[df.quantity==1]
dfsel=dfsel.drop_duplicates(subset= 'choice_description',ignore_index=True)
dfsel

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
4,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
...,...,...,...,...,...
1003,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75
1004,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
1005,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
1006,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
1007,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [75]:
dfsel.sort_values(by='item_price',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
35,24,1,Canned Soda,[Sprite],1.09
78,55,1,Canned Soda,[Coca Cola],1.09
73,51,1,Canned Soda,[Diet Dr. Pepper],1.09
113,89,1,Canned Soda,[Diet Coke],1.09
19,14,1,Canned Soda,[Dr. Pepper],1.09
...,...,...,...,...,...
402,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
412,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
842,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89
866,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
519,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89

### Step 6. Sort by the name of the item

In [76]:
dfsel.sort_values(by='item_name').head(20)

,order_id,quantity,item_name,choice_description,item_price
994,1793,1,Barbacoa Bowl,[Guacamole],11.49
618,836,1,Barbacoa Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75
417,483,1,Barbacoa Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48
416,483,1,Barbacoa Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",11.48
919,1533,1,Barbacoa Bowl,"[Fresh Tomato (Mild), [Lettuce, Rice, Cheese]]",8.69
785,1203,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
212,202,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",11.48
816,1278,1,Barbacoa Bowl,"[Fresh Tomato (Mild), [Lettuce, Black Beans, R...",8.69
554,705,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Cheese, Sour Crea...",11.75
738,1097,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75
306,331,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",9.25
466,562,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",11.48
822,1299,1,Barbacoa Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",8.99
345,380,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
79,56,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Pinto Beans...",9.25
533,667,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",8.99
655,907,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",9.25
61,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
948,1619,1,Barbacoa Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75
1005,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75

### Step 7. What was the quantity of the most expensive item ordered?

In [80]:
dfsel=df[['item_name','item_price']]
dfsel.sort_values(by='item_price', ascending=False).head(1)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [87]:
dfveggie=df[df.item_name=='Veggie Salad Bowl']
dfveggie.head()

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75

In [88]:
dfveggie.order_id.count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [90]:
dfsoda=df[df.item_name=='Canned Soda']
dfsoda.head()

     order_id  quantity    item_name choice_description  item_price
18          9         2  Canned Soda           [Sprite]        2.18
28         14         1  Canned Soda       [Dr. Pepper]        1.09
51         23         2  Canned Soda     [Mountain Dew]        2.18
53         24         1  Canned Soda           [Sprite]        1.09
107        47         1  Canned Soda       [Dr. Pepper]        1.09

In [99]:
dfsoda[dfsoda.quantity>1].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64